<launch>
    <include file="$(find stompy_ros)/src/$(env ROBOT).machine" />

    <group ns="leg1">
        <!-- Try to figure out how to put this in a file -->
        <!-- <include file="$(find stompy_ros)/leg.xml" ns="leg1" pass_all_args="true"/> -->

        <node pkg="stompy_ros" type="sensor" name="sensor" required="true" ns="knee" />
        <node pkg="stompy_ros" type="sensor" name="sensor" required="true" ns="compliant_link" />
        <node pkg="stompy_ros" type="pid_loop" name="pid_loop" required="true" ns="knee" />
        <node pkg="stompy_ros" type="pid_loop" name="pid_loop" required="true" ns="compliant_link" />
    </group>


    <!-- <include file="$(find 2dnav_pr2)/config/new_amcl_node.xml" /> -->
    <!-- <include file="$(find 2dnav_pr2)/config/base_odom_teleop.xml" /> -->
    <!-- <include file="$(find 2dnav_pr2)/config/lasers_and_filters.xml" /> -->
    <!-- <include file="$(find 2dnav_pr2)/config/map_server.xml" /> -->
    <!-- <include file="$(find 2dnav_pr2)/config/ground_plane.xml" /> -->

    <!-- The navigation stack and associated parameters -->
    <!-- <include file="$(find 2dnav_pr2)/move_base/move_base.xml" /> -->
</launch>
