<!-- 
Environment variables:
    Run on local machine:
        export ROBOT=local
    Run on Stompy:
    export ROBOT=stompy
 -->

<launch>
    <!-- Set up the machine description -->
    <include file="$(find stompy_ros)/launch/$(env ROBOT).machine" />

    <!-- launch each leg --> 
    <include file="$(find stompy_ros)/launch/leg.launch">
        <arg name="legname" value="leg1" />
    </include>

</launch>
