<!-- 
Launch all sensor and pid_loop nodes for a leg
  Requires arguments:
    leg - name of leg
 -->

<launch>
    <!-- declare arg to be passed in -->
    <arg name="legname" />

    <group ns="$(arg legname)">
        <node machine="$(arg legname)" pkg="distributed_roslaunch" type="sensor.py" name="sensor" required="true" ns="knee" />
        <node machine="$(arg legname)"  pkg="distributed_roslaunch" type="sensor.py" name="sensor" required="true" ns="compliant_link" />
        <node  machine="$(arg legname)" pkg="distributed_roslaunch" type="pid_loop.py" name="pid_loop" required="true" ns="knee" />
        <node  machine="$(arg legname)" pkg="distributed_roslaunch" type="pid_loop.py" name="pid_loop" required="true" ns="compliant_link" />
    </group>

</launch>
