<!-- 
Environment variables:
    Run on local machine:
        export ROBOT=local
    Run on Stompy:
    export ROBOT=stompy
 -->

<launch>
    <!-- Set up the machine description -->
    <include file="$(find distributed_roslaunch)/launch/$(env ROBOT).machine" />

    <!-- launch each leg --> 
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="fl" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="ml" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="rl" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="fr" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="mr" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="rr" />
    </include>

</launch>
