<!-- 
Environment variables:
    Run on local machine:
        export ROBOT=local
    Run on Stompy:
    export ROBOT=stompy
 -->

<launch>
    <!-- Set up the machine description -->
    <include file="$(find distributed_roslaunch)/launch/$(env ROBOT).machine" />

    <!-- launch each leg --> 
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="leg1" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="leg2" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="leg3" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="leg4" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="leg5" />
    </include>
    <include file="$(find distributed_roslaunch)/launch/leg.launch">
        <arg name="legname" value="leg6" />
    </include>

</launch>
